{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "add-module-exports",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals",
        "__coverage__"
      ],
      "comments": false
    },
    "production": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "add-module-exports",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals"
      ],
      "comments": false
    }
  }
}
